__pycache__/
*.py[cod]
*.log

.venv/
venv/
env/

.streamlit/
.pytest_cache/
.vscode/
*.pt

frontend/frontend.out.log
frontend/frontend.err.log
backend/backend.out.log
backend/backend.err.log

backend/data/
pixel_output.csv
Generate
